@import './variables';

.CardContainer {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}